
.img{
    padding-top: 100px ;
    padding-right: 9%;
    padding-left: 9%;
    padding-bottom: 9cm;
}

img{
    width: 7cm;
    height: 8.5cm;

}
#foot{
    color: white;
    background-color: black;
    padding-top:3cm;
}
