@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

body{
    
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Sevillana", cursive;
}
h1{
    padding-top: 2px;
    padding-block-end: 4px;
    margin-top: 0%;
    margin-right:35%;
    margin-left: 35%;
    background-color: red;
}
img{
    width: 10cm;
}
#oi{
    color: blue;
}

#btn{
    background-color: red;
    border:5px solid white;
    width: 100px;
    height: 50px;
    color:white; 
}
